@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --background-color: #F3F4F6; /* Warna latar belakang */

  color: white; /* Warna teks */
  background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: #1F2937;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
