.radio-custom {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 2px gray;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
   }
   
   .radio-custom:checked {
    background-color: #FD7014;
    box-shadow: 0 0 0 2px #FD7014;
   }
   
   .radio-active {
    background-color: #FD7014;
    box-shadow: 0 0 0 2px #FD7014;
   }
   